@use "../../src//styles/settings/colors.scss" as colors;



  .c-container {
    $self: &;
    width: 100%;
    display: flex;
    justify-content: center;

    &--white {
      @extend #{$self};
      background-color: colors.$white;
    }

    &--gray {
      @extend #{$self};
      background-color: colors.$gray;
    }

    &--gray-shade {
      @extend #{$self};
      background-color: colors.$shade;
    }

    &--blue {
      @extend #{$self};
      background-color: colors.$secondary;
    }

    &--light-blue {
      @extend #{$self};
      background-color: colors.$lightBg;
    }

    &--green {
      @extend #{$self};
      background-color: colors.$greenBg;
    }

    &--yellow-shade {
      @extend #{$self};
      background-color: colors.$yellow-shade;
    }

    &--light-green {
      @extend #{$self};
      background-color: colors.$lightGreen-bg;
    }

    &--transparent {
      @extend #{$self};
      background-color: transparent;
    }

    &--teal-25 {
      @extend #{$self};
      background-color: colors.$teal-25;
    }

    &--cs-green-100 {
      @extend #{$self};
      background-color: colors.$cs-green-100;
    }

    &--shade {
      @extend #{$self};
      background-color: colors.$shade;
    }

    &--cs-teal-100 {
      @extend #{$self};
      background-color: colors.$cs-teal-100;
    }

    &--cs-teal-200 {
      @extend #{$self};
      background-color: colors.$cs-teal-200;
    }

    &--cs-gray-100 {
      @extend #{$self};
      background-color: colors.$cs-gray-100;
    }

    &--dark {
      @extend #{$self};
      background-color: colors.$dark;
    }

    &--cs-blue-700 {
      @extend #{$self};
      background-color: colors.$cs-blue-700;
    }

    &--cs-gray-100 {
      @extend #{$self};
      background-color: colors.$cs-gray-100;
    }

    &--cs-gray-900 {
      @extend #{$self};
      background-color: colors.$cs-gray-900;
    }

    &--colorType3 {
      @extend #{$self};
      background-color: colors.$colorType3;
    }

    &--cs-green-light {
      @extend #{$self};
      background-color: colors.$cs-green-light;
    }

    &--cs-light-pink {
      @extend #{$self};
      background-color: colors.$cs-light-pink;
    }

    &--colorType8 {
      @extend #{$self};
      background-color: colors.$colorType8;
    }

    &--cs-light-gray-bg {
      @extend #{$self};
      background-color: colors.$cs-light-gray-bg;
    }

    &--cs-light-gray-bg2 {
      @extend #{$self};
      background-color: colors.$cs-light-gray-bg2;
    }

    &--cs-light-gray-bg3 {
      @extend #{$self};
      background-color: colors.$cs-light-gray-bg3;
    }

    &--cs2-Peach-50 {
      @extend #{$self};
      background-color: colors.$cs2-Peach-50;
    }

    &--cs-light-green-bg {
      @extend #{$self};
      background-color: colors.$cs-light-green-bg;
    }

    &--cs-light-yellow-bg {
      @extend #{$self};
      background-color: colors.$cs-light-yellow-bg;
    }

    &--cs-dark-blue {
      @extend #{$self};
      background-color: colors.$cs-dark-blue;
    }

    &--cs-dark-green-bg {
      @extend #{$self};
      background-color: colors.$cs-dark-green-bg;
    }

    &--cs-dark-green-bg2 {
      @extend #{$self};
      background-color: colors.$cs-dark-green-bg2;
    }

    &--cs-darker-green-bg {
      @extend #{$self};
      background-color: colors.$cs-darker-green-bg;
    }

    &--cs-darker-green-bg2 {
      @extend #{$self};
      background-color: colors.$cs-darker-green-bg2;
    }

    &--cs2-gray-100 {
      @extend #{$self};
      background-color: colors.$cs2-gray-100;
    }

    &--cs-gray-200 {
      @extend #{$self};
      background-color: colors.$newGray;
    }

    &--cs2-inner-bg1 {
      @extend #{$self};
      background-color: colors.$cs2-inner-bg1;
    }

    &--dark-blue-new {
      @extend #{$self};
      background-color: colors.$dark-blue-new;
    }

    &--cs2-teal-100 {
      @extend #{$self};
      background-color: colors.$cs2-teal-100
    }
    
    &--newGray {
      @extend #{$self};
      background-color: colors.$newGray;
    }

    &--mint-green {
      @extend #{$self};
      background-color: colors.$mint-green;
    }

    &--gradient-blue {
      @extend #{$self};
      background-color: colors.$gradient-blue;
    }

    &--mint-greenV1 {
      @extend #{$self};
      background: colors.$mint-greenV1;
    }
    
    &--mint-greenV2 {
      @extend #{$self};
      background: colors.$mint-greenV2;
    }

    &--emerald-sapphire {
      @extend #{$self};
      background: colors.$emerald-sapphire;
    }

    &--green-gradient {
      @extend #{$self};
      background: colors.$green-gradient;
    }

    &--midnight-navy {
      @extend #{$self};
      background: colors.$midnight-navy
    }

    &--midnight-half {
      @extend #{$self};
      background: colors.$midnight-half
    }

    &--cs-blue-1000{
      @extend #{$self};
      background: colors.$cs-blue-1000
    }

    &--cs-blue-half{
      @extend #{$self};
      background: colors.$cs-blue-half
    }

    &--light-blue-gradient{
      @extend #{$self};
      background: colors.$light-blue-gradient
    }

    &--gradient-lightBlue{
      @extend #{$self};
      background: colors.$gradient-lightBlue
    }

    &--p-lg & {
      &__inner {
        padding: 6.4rem 1.6rem ;

        @media (min-width:1200px) {
          padding: 13rem 1.6rem;
        }
      }
    }

    &--pt-0 & {
      &__inner {
        padding: 0 1.6rem 6.4rem;

        @media (min-width:1200px) {
          padding: 0 1.6rem 9.6rem;
        }
      }
    }
    &--pt-pb-0 & {
      &__inner {
        padding: 0 1.6rem 0 1.6rem;

        @media (min-width:1200px) {
          padding: 0 1.6rem 0 1.6rem;
        }
      }
    }

    &--pt-sm & {
      &__inner {
        padding: 4.8rem 1.6rem 6.4rem;

        @media (min-width:1200px) {
          padding: 6.4rem 1.6rem 9.6rem;
        }
      }
    }

    
    &--pb-0 & {
      &__inner {
        padding: 6.4rem 1.6rem 0;

        @media (min-width:1200px) {
          padding: 9.6rem 1.6rem 0;
        }
      }
    }

    &--pb-mb-0 & {
      &__inner {
        padding: 6.4rem 1.6rem 0;

        @media (min-width:768px) {
          padding: 6.4rem 1.6rem 6.4rem;
        }

        @media (min-width:1200px) {
          padding: 9.6rem 1.6rem 9.6rem;
        }
      }
    }

    &--pt-mb-0 & {
      &__inner {
        padding: 0 1.6rem 6.4rem;

        @media (min-width:768px) {
          padding: 6.4rem 1.6rem 6.4rem;
        }

        @media (min-width:1200px) {
          padding: 9.6rem 1.6rem 9.6rem;
        }
      }
    }

    &--pb-sm & {
      &__inner {
        padding: 6.4rem 1.6rem 4.8rem;

        @media (min-width:1200px) {
          padding: 9.6rem 1.6rem 6.4rem;
        }
      }
    }

    &--pb-lg & {
      &__inner {
        padding: 6.4rem 1.6rem 6.4rem;

        @media (min-width:1200px) {
          padding: 9.6rem 1.6rem 16rem;
        }
      }
    }

    &--py-sm & {
      &__inner {
        padding: 6.4rem 1.6rem 6.4rem;

        @media (min-width:1200px) {
          padding: 6.4rem 1.6rem 6.4rem;
        }
      }
    }

    &--py-xs & {
      &__inner {
        padding: 1rem 1.6rem 1rem;

        @media (min-width:1200px) {
          padding: 1rem 1.6rem 1rem;
        }
      }
    }

    &--py-0 & {
      &__inner {
        padding: 0 1.6rem 0;

        @media (min-width:1200px) {
          padding: 0 1.6rem 0;
        }
      }
    }
    &--pb-lg-0 & {
      &__inner {
        padding: 6.4rem 1.6rem;

        @media (min-width:1200px) {
          padding-bottom: 13rem;
          padding-top: 6.4rem;
        }
      }
    }

    &--ptlg-0 & {
      &__inner {
        padding: 0 1.6rem 6.4rem ;

        @media (min-width:1200px) {
          padding: 0 1.6rem 13rem;
        }
      }
    }

    &__inner {
      width: 100%;
      max-width: 127.2rem;
      padding: 6.4rem 1.6rem;

      @media (min-width:1200px) {
        padding: 9.6rem 1.6rem;
      }
    }

    &__extended {
      margin-bottom: 32px;

      @media (min-width: 992px) {
        margin-bottom: 136px;
      }

      #{$self}__inner {
        padding-bottom: 0;
      }
    }

    &--hidden {
      display: none;

      @media (min-width: 1200px) {
        display: flex;
      }
    }
    &--relative{
      position: relative;
    }
  }
