@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.tags-slider{
  .swiper-slide{
    width: fit-content !important;
   }
}

:root {

}

@layer utilities {
html {
  background-color: #fff;
  font-family: 'Inter';
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body, #__next {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter';
  color: #151515;
}

.slider-mask{
  &::before{
    content: "";
    position: absolute;
    left: 32px;
    top: 0;
    height: 100%;
    width: 100px;
    z-index: 2;
    background: linear-gradient(90deg, #18181B 0%, rgba(24, 24, 27, 0.00) 100%);
  }

  &::after{
    content: "";
    position: absolute;
    right: 32px;
    top: 0;
    height: 100%;
    width: 100px;
    z-index: 2;
    background: linear-gradient(90deg, rgba(24, 24, 27, 0.00) 0%, #18181B 100%);
  }
}


.post {
  // @apply ;
}

.post__container {
  @apply mb-9 ; 
}

.post__content{
  @apply  prose prose-sm md:prose-base lg:prose-lg prose-h2:font-manrope prose-h3:font-manrope; 
}

.post__content blockquote {
  @apply border-l-4 border-zinc-900

}


// .post__content h1 {
//   @apply mb-4 text-5xl font-normal font-[700] leading-[52.8px] tracking-[-0.96px] font-manrope; 
// }

// .post__content h2 {
//   @apply mb-4 font-manrope;
// }

// .post__content p {
//   @apply mb-7;
// }

// .post__content h3 {
//   @apply mb-1.5 font-sans;
// }

// .post__content ul {
//   @apply list-disc list-inside text-lg mb-7;
// }

// .post__content ul li {
//   margin-bottom: 0.5rem; 
// }

// .post__content img {
//   @apply mt-4 mb-8;
// }

// .post__content h2 {
//   @apply text-3xl font-extrabold;
// }

// .post__content h3 {
//   @apply text-2xl font-semibold leading-[26.4px] tracking-[-0.48px];
// }

// .post__content p {

//   @apply text-lg font-normal prose;
//   a {
//     @apply text-blue-600 hover:underline underline-offset-2;
//   }

//   strong {
//     @apply font-semibold;
//   }
// }

// .content-wrapper iframe{
//   @apply w-full;

// }
// .card-content  {

//  h2{
//   @apply  text-5xl font-normal font-extrabold   font-manrope; 

// } 

//  h3{
//   @apply  text-5xl font-normal font-extrabold   font-manrope; 
//  } 

// }




}
